
.input_gauche{
    height: 50px;
    width: 50px;
}
#idBtnSauvegarder{
    margin-top: 5%;

}
.imageapp{
    height: 100px;
    width: 100px;
    
}

header nav
{
    width: 50%;  
    margin: 0 auto;
    background-color:rgb(146, 143, 143);
    padding: 10px;   
}
.competence{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

